
ECGReader/testNotebook.ipynb
*/.DS_Store
.idea
.idea/codeStyles/codeStyleConfig.xml
.idea/dictionaries/claudio.xml
.idea/ECGReader.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
